site_name: Rasa NLU Examples
extra_css: [style.css]
repo_url: https://github.com/RasaHQ/rasa-nlu-examples
site_url: https://rasahq.github.io/rasa-nlu-examples/
site_description: A collection of open source Rasa compatible NLU components.
site_author: Vincent D. Warmerdam @ Rasa Research

nav:
  - Home: index.md
  - Contributing: contributing.md
  - Usage:
      - Benchmarking Guide: benchmarking.md
      - Fallback:
          - FasttextLanguage: docs/fallback/fasttextlanguagefallback.md
      - Tokenizers:
          - BlankSpacyTokenizer: docs/tokenizer/spacy_tokenizer.md
          - StanzaTokenizer: docs/tokenizer/stanza.md
          - ThaiTokenizer: docs/tokenizer/thai_tokenizer.md
      - Meta:
        - Printer: docs/meta/printer.md
      - Featurizers:
        - GensimFeaturizer: docs/featurizer/gensim.md
        - FastTextFeaturizer: docs/featurizer/fasttext.md
        - BytePairFeaturizer: docs/featurizer/bytepair.md
        - SparseBytePairFeaturizer: docs/featurizer/sparse_bytepair.md
        - SemanticMapFeaturizer: docs/featurizer/semantic_map.md
      - Intent Classifiers:
        - SparseNaiveBayes: docs/classifier/sparsenb.md
      - Entity Extractors:
        - FlashText: docs/extractors/flashtext.md
      - Jupyter:
        - Overview: docs/jupyter/tools.md

plugins:
  - search
  - mkdocstrings:
      watch:
        - rasa_nlu_examples
copyright: Copyright &copy; 2020 <a href="https://twitter.com/Rasa_HQ">Rasa</a>
theme:
  name: material
  features:
    - tabs
    - instant
  palette:
    primary: deep purple
    accent: purple
markdown_extensions:
  - codehilite
  - pymdownx.tabbed
  - admonition
  - toc:
      permalink: true
